<template name="about">
  <div class="page about">
    {{> nav title='Profile' black=true}}

    <div class="content-scrollable">
			{{#if userId}}
				<div class="bg-image about">
					<h1 class="title-about">
		<!-- 				<img src="img/app/title-about.svg" alt="LifeLog"/> -->
					</h1> 
				</div>
				<div class="description-about">
					profile details
				</div>
				<br /> <br />
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-xs-5">
							{{> profileDetails}}
						</div>
						<div class="col-md-7 col-xs-7">
							{{> connectAccounts}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-xs-12">
							<button class="btn button" id='showset'>Settings</button>
						</div>
					</div>
					{{#if ifSettings}}{{> userSettings}}{{/if}}
				</div>
			{{else}}
				{{> entrySignIn}}
			{{/if}}
    </div>
		{{#if userId}}
			<a href="{{pathFor 'entrySignOut'}}" class="btn-primary js-open">{{{beforeSignOut}}}{{t9n "signOut"}}</a>
			<a href="{{ pathFor 'entrySignOut' }}" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a>
		{{/if}}
  </div>
</template>



<template name="profileDetails">

	<div id="profile_update"><img class="img-responsive img-circle" src="{{user_details.profile.picture}}" style="width:100%"/></div>
	<div>{{user_details.profile.name}}</div>
	<div>{{user_details.profile.country}} {{user_details.profile.place}}</div>
	
</template>

<template name="connectAccounts">
			Connected accounts <br />
			{{#if user_details.services.google}} 		<i class="connected fa fa-google"></i> <i class="connected fa fa-check-square"></i>		{{else}} <span id='connect_google'><i class="fa fa-google"></i><i class="fa fa-circle-o"></i> 			</span>{{user_details.services.google.id}} {{/if}}<br />	
			{{#if user_details.services.facebook}}		<i class="connected fa fa-facebook"></i> <i class="connected fa fa-check-square"></i>	{{else}} <span id='connect_fb'><i class="fa fa-facebook"></i><i class="fa fa-circle-o"></i>		</span>{{user_details.facebook.google.id}} {{/if}}<br />
			{{#if user_details.services.twitter}} 		<i class="connected fa fa-twitter"></i> <i class="connected fa fa-check-square"></i>	{{else}} <span id='connect_twtr'><i class="fa fa-twitter"></i><i class="fa fa-circle-o"></i>			</span>{{user_details.twitter.google.id}} {{/if}}<br />
			{{#if user_details.services.foursquare}}	<i class="connected fa fa-foursquare"></i> <i class="connected fa fa-check-square"></i>{{else}} <span id='connect_fsqr'><i class="fa fa-foursquare"></i><i class="fa fa-circle-o"></i>	</span>{{user_details.services.foursquare.id}} {{/if}}<br />
			{{#if user_details.services.runkeeper}} 	<i class="connected fa fa-bicycle"></i> <i class="connected fa fa-check-square"></i>	{{else}} <span id='connect_runk'><i class="fa fa-bicycle"></i><i class="fa fa-circle-o"></i>			</span>{{user_details.services.runkeeper.id}} {{/if}}<br />
			{{#if ifDebug}}<button class="btn button" id='check_profile'>check</button>{{/if}}
</template>


<template name="userSettings">
	<div class="row">
		<div class="col-md-6 col-xs-6">
			Your places
		</div>
		<div class="col-md-3 col-xs-3">
			Claimed
		</div>
		<div class="col-md-3 col-xs-3">
			Auto Check
		</div>		
	</div>
	{{#each autoplace}}
		<div class="row">
			<div class="col-md-6 col-xs-6">
				{{place.name}}
			</div>
			<div class="col-md-3 col-xs-3">
				soon
<!-- 				<input type="checkbox" name="claimed" id="{{place._id}}" checked> -->
			</div>
			<div class="col-md-3 col-xs-3 removeauto" id="{{_id}}">
				<input type="checkbox" name="autocheck" checked>
			</div>						
		</div>
	{{/each}}
	<hr>
	<div class="row">
		<div class="col-md-12 col-xs-12">
			Privacy settings: <br />
			and what really needs to be here?<br />
			Name - yes/no<br />
			My places - yes/no<br />
			My fitness (what exactly)<br />
		</div>
	</div>
</template>

<template name="profilePic">
	<div>
		<div id="profile_update"><a href="/profile"><img src="{{user_details.profile.picture}}" style="width:100%"/></a></div>
<!-- 		<div>{{user_details.profile.name}}</div> -->
	</div>
</template>




