<template name="about">
  <div class="page about">
    {{> nav title='Profile' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Profile"/>
        </h1>
      </div>
      <div class="description-about">
        profile details
      </div>
			<br /> <br />
      <div>
				{{> profile}}
				{{> overlay}}
      </div>
    </div>
    <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Built with meteor</a>
  </div>
</template>

<template name="profile">
	{{> loginButtons}}
	{{#if userId}}
		{{> profileDetails}}
	{{else}}
		
	{{/if}}
<!-- 	<button class="btn-primary btn logmein" style="bottom:auto">Log me in</button> -->
</template>

<template name="profileDetails">
<br/>
	{{#if details}}
<!-- 		{{#each details}}
			{{details}}
		{{/each}} -->
	{{/if}}
</template>

<template name="loginoverlay">
	{{> loginButtons}}
</template>



