<template name="appBody">
  <div class="wrapper-welcome">
    <div class="title-welcome">Kn42 personal companion</div>
    <div class="description-welcome"><b>Kn42</b> was made by <a href="http://xlazz.com" target="_blank" class="js-open">Xlazz Inc</a>. This is a cross platform mobile app built in <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>.
    </div>
    
    <div class="description-welcome">
    The app is designed to run on a physical device, where it uses the hardware's native camera and GPS support.
    </div>

    <div class="description-welcome">
    You can also run in a desktop browser as a convenience (what you're looking at right now).
    </div>

    <div class="description-welcome">
		So what Kn42 can do for you:
		<ul>
			<li>Create a lifelog, complete with your Foursquare checkins. And it can check you in automatically if you wish so</li>
			<li>Calculate your daily fitness activity and burnt calories (connection to your Fitbit, Up, Pebble comes soon)</li>
			<li>Get the driving log and keep it</li>
		</ul>
		<br/>
		And what is coming next
		<ul>
			<li>Friends suggestions based on your habits (your fitness activity, your foursquare checkins)</li>
			<li>Your fitness on the map</li>
			<li>Fitness with your friends (you can share routes and goals)</li>
			<li>Please tell us what you would like to see</li>
		</ul>
			
    </div>
		<div>
			<span style="color: blue;">Contact us at <a href="https://plus.google.com/communities/114644683410479544661" target=_blank>Kn42 community</a></span>
			{{#if isUser}}
				<br/><br/><br/>
				{{> contactForm}}
			{{/if}}
		</div>
  </div>

  <div id="container" class="{{menuOpen}} {{overlayOpen}}">
    <section id="menu" class="overthrow">
      <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Home</span>
        </span>
      </a>
      <a href="{{pathFor 'about'}}" class="{{activePage 'about'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Profile</span>
        </span>
      </a>
			{{#if isUser}}
				{{#if ifDebug}}
					<a href="{{pathFor 'geolog'}}" class="{{activePage 'geolog'}}">
						<span class="wrapper-menu-item">
							<span class="icon-category"></span>
							<span class="title-menu">Geolog</span>
						</span>
					</a>
				{{/if}}
				<a href="{{pathFor 'lifelog'}}" class="{{activePage 'lifelog'}}">
					<span class="wrapper-menu-item">
						<span class="icon-bookmark-hollow"></span>
						<span class="title-menu">Lifelog</span>
					</span>
				</a>
				<a href="{{pathFor 'friends'}}" class="{{activePage 'friends'}}">
					<span class="wrapper-menu-item">
						<span class="icon-question"></span>
						<span class="title-menu">Friends</span>
					</span>
				</a>
				<a href="{{pathFor 'autolog'}}" class="{{activePage 'autolog'}}">
					<span class="wrapper-menu-item">
						<span class="icon-question"></span>
						<span class="title-menu">Driving</span>
					</span>
				</a>
				<a href="{{pathFor 'fitness'}}" class="{{activePage 'fitness'}}">
					<span class="wrapper-menu-item">
						<span class="icon-question"></span>
						<span class="title-menu">Fitness</span>
					</span>
				</a>
				{{#if ifDebug}}
					<a href="{{pathFor 'temp'}}" class="{{activePage 'temp'}}">
						<span class="wrapper-menu-item">
							<span class="icon-question"></span>
							<span class="title-menu">Music</span>
						</span>
					</a>
				{{/if}}
			{{/if}}
			{{#if isAdmin}}
				{{> Appsetnews}}
			{{else}}
			{{/if}} 
    </section>
		


		
		
      <div class="notifications">
        {{#unless connected}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Trying to connect</div>
          </div>
        {{/unless}}
        {{#each notifications}}
          <div class="notification">
            <a class="btn-primary js-notification-action">{{action}}</a>
            <div class="title-notification">{{title}}</div>
          </div>
        {{/each}}
				<div class="notification">
					<div class="title-notification" >
						<div class="kn42service" style="display: inline-block">service: {{status}} {{ifDebug}}</div>
						{{#if isAdmin}}
							<div style="display: inline-block; float: right">
								<label for="debug" class="checkbox-inline debug"> 
									<input type="checkbox" name="debug" id="debug" autocomplete="off"/> Debug
								</label>
							</div>
						{{/if}}
					</div>
				</div>
      </div>

    {{> overlay}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>

<template name="Appsetnews">
	<a href="{{pathFor 'setnews'}}" class="{{activePage 'setnews'}}">
		<span class="wrapper-menu-item">
			<span class="icon-question"></span>
			<span class="title-menu">Set news</span>
		</span>
	</a>
</template>

<template name="internal">
	<a href="{{pathFor 'internal'}}" class="{{activePage 'internal'}}">
		{{> loginButtons}}
	</a>
</template>

<template name="contactForm">
	{{#if ifSubmitted}}
		Previously contacted on <br/>
		{{contacted.created}}<br/><br/>
		You message was: {{contacted.message}}<br/>
		<button class="btn btn-primary" id="editform">Edit</button>
	{{else}}
		{{#if contacted}}
			Previously contacted on <br/>
			{{contacted.created}}<br/><br/>
			{{#autoForm schema="Schemas.Contacts" id="contactedForm" doc=contacted type="update" autosave=true collection="Contacts"}}
			<fieldset>
				<legend></legend>
				{{> afFieldInput name="created" autocomplete="on" type="hidden" value=today}}
				{{> afQuickField name="message" autocomplete="on" rows=10}}
				<div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</fieldset>
			{{/autoForm}}
		{{else}}
			{{#autoForm schema="Schemas.Contacts" id="contactForm" template="plain" type="insert" collection="Contacts"}}
			<fieldset>
				<legend>Contact Us</legend>
				{{> afFieldInput name="userId" type="hidden" value=thatUser._id}}
				{{> afFieldInput name="created" type="hidden" value=today}}
				{{> afQuickField name="name"  value=thatUser.profile.name}}
				{{> afQuickField name="email" value=email}}
				{{> afQuickField name="message" rows=10 }}
				<div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</fieldset>
			{{/autoForm}}
		{{/if}}
	{{/if}}

</template>		

<!-- 						{{#autoForm id="claimedPlaceForm" doc=this type="update" collection="ClaimedPlaces" schema="Schemas.ClaimForm"}}
							<div class="form-group">
								{{> afFieldInput name="name" placeholder="Name your place"}}
							</div>
							{{> afQuickField name="public"}}
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						{{/autoForm}} -->