<template name="autolog">
  <div class="page about">
    {{> nav title='Driving' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
				<h1 class="title-about">
	<!-- 				<img src="img/app/title-about.svg" alt="LifeLog"/> -->
				</h1> 
      </div>
      <div class="description-about">
      </div>
			{{> driving}}
		
    </div>
  </div>
</template>

<template name="driving">
	<div class="container-fluid loading animate">
		<div class="row ">
			<div class="col-xs-6 col-sm-6 col-md-6 center">
				{{#if ifDriving}}
					<button class="btn btn-large btn-secondary inline stopdriving">Stop</button>
				{{else}}
					<button class="btn btn-large btn-secondary inline startdriving">Start</button>
				{{/if}}				
			</div>
<!-- 			{{#unless ifDriving}}
				<div class="alert alert-info kninfo" role="alert">
					With start button we change the gps request frequency to 30 sec, stop submitting it to the server and add a special flag 'auto' in geolog collection
				</div>			
			{{/unless}} -->
		</div>
		
		{{#if ifDriving}}
			{{#Animate}}
				<!-- Current track here -->
				<div class="row showlog loading animate">
					<div class="col-xs-4 col-sm-4 col-md-4">
						<img src="/img/app/graphics-car-932475.gif" width="80%"/><br/>
<!-- 						<img src="img/app/car.png" /><br /> -->'
						{{#with driveTrack}}
							{{_id}} Started on {{created}} <!-- distance {{distance}} points {{count}} -->
						{{/with}}
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8">
						{{#each drive}}
							<div class="row showlog loading animate" id="{{_id}}">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<span class="label label-primary">{{time}} {{speed}}m/s  {{speedKm}}km/h {{location.distance}} km</span>							
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			{{/Animate}}
		{{else}}
			<!-- Previous tracks -->
			<div class="row showtrack loading animate" >
				<div class="col-xs-12 col-sm-12 col-md-12">
					Recent logs
				</div>
			</div>
			{{#each userDrives}}
				<div class="row showtrack loading animate" id="{{_id}}">
					<div class="col-xs-4 col-sm-4 col-md-4">	
						<img src="img/app/car.png" width="80%"/>
<!-- 						<i class="fa fa-car"></i>
						<br /> -->
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 showMap" id="{{_id}}">
						<span class="label label-primary">{{date}} </span> <span class="label label-primary">{{duration}} {{distance}}km points {{count}}</span>
					</div>
				</div>
			{{/each}}
		{{/if}}
	</div>
</template>

<template name="showMapDrv">
	<div class="topdiv">
		Your route
	</div>
	<div class="content-scrollable">
		<div class="container-fluid">
			<div class="separator">
			</div>
			<div class="map-container">
				{{> googleMap name="driveMap" options=driveMapOptions}}
			</div>
			<div class="row setlocations" id="">
				<div class="col-xs-12 col-sm-12 col-md-12" style="font-size:70%"> 
					{{#with driveTrack}}
						{{_id}} Started on {{created}} distance {{distance}} points {{count}}
					{{/with}}
				</div>
			</div>	
			{{#each track}}
				<div class="row setlocations" id="">
					<div class="col-xs-12 col-sm-12 col-md-12" style="font-size:70%"> 
						Track {{date}} {{location.coords.latitude}},{{location.coords.longitude}} {{location.coords.speed}}km/h {{distance}}m
					</div>
				</div>	
			{{/each}}
		</div>
	</div>
	<input type="button" class="button cancel btn btn-danger btn-down" value="Close" />
</template>
