<template name="claimedPlaces">
	<div class="content-scrollable">
		<div class="container-fluid">
			<h1 class="title-admin">Your places</h1>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div style="height: 240px">
						{{> showMapClaim}}
					</div>
				</div>
			</div>					
			<div class="row bottom">
				<div class="col-xs-12 col-sm-12 col-md-12">
	<!-- 						<label>Claimed on {{claimed.created}} with {{claimed}}</label><br />
					<textarea style="width:100%" name="text" rows="2" placeholder="Set here what you want to show about your claimed place ...">{{claimed.name}}</textarea> -->
					{{#with claimed}}
						{{#autoForm id="claimedPlaceForm" doc=this type="update" collection="ClaimedPlaces" schema="Schemas.ClaimForm"}}
							<div class="form-group">
								{{> afFieldInput name="name" placeholder="Name your place"}}
							</div>
							{{> afQuickField name="public"}}
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						{{/autoForm}}
					{{/with}}
				</div>
			</div>
	<!-- 			<button type="submit" class="btn-primary">Save</button> -->


		</div>
	</div>
</template>

<template name="showMapClaim">
	<div class="map-container">
		{{> googleMap name="claimedMap" options=claimedMapOptions}}
	</div>
</template>