<template name="fitness">
  <div class="page about">
    {{> nav title='Fitness' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
				<h1 class="title-about">
	<!-- 				<img src="img/app/title-about.svg" alt="LifeLog"/> -->
				</h1> 
      </div>
      <div class="description-about">
      </div>
				{{> routes}}
    </div>
  </div>
</template>

<template name="routes">
	<div class="container-fluid loading animate">
		{{#unless ifFitness}}
			<div class="row ">
				<div class="col-xs-6 col-sm-6 col-md-6 center">
					<button class="btn btn-large btn-secondary findroute">Find a route</button>				
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 center">
					{{#if noRecent}}
						<button class="btn btn-large btn-secondary inline cancelfit">Cancel</button>
					{{/if}}				
				</div>
			</div>
			<div class="row loading animate">
				{{#each activities}}
					<div class="col-xs-4 col-sm-4 col-md-4 showactiv" id="{{_id}}">
						<span class="label {{#if selected}} label-primary {{else}} label-info {{/if}} fitActivity" id="{{_id}}"><img src="icon/{{icon}}" width="80%" alt="{{activity}}" /> {{selected}}</span>							
					</div>
				{{/each}}
				
			</div>
			{{#if findRoute}}
				{{> selectRoutes}}
			{{/if}}
		{{/unless}}
		<div class="row ">
			<div class="col-xs-12 col-sm-12 col-md-12 center">
				{{#if ifFitness}}
					<button class="btn btn-large btn-secondary inline stopfit">Stop</button>
				{{else}}
					{{#if readyFit}}
						{{#unless ifFitness}}
							<button class="btn btn-large btn-secondary inline startfit">Start</button>
							<div class="alert alert-info kninfo" role="alert">
								With start button we change the gps request frequency to 10 sec, and stop finding the place.
							</div>		
						{{/unless}}
					{{/if}}
	
				{{/if}}	
			</div>
		</div>
		{{#if ifFitness}}
<!-- 			{{#Animate}} -->
				<!-- Current track here -->
				{{> currentTrack}}
<!-- 			{{/Animate}} -->
		{{else}}		
			{{#unless noRecent}}
			<!-- Previous tracks -->
				{{> recentTracks}}
			{{/unless}}
		{{/if}}
	</div>
</template>

<template name="currentTrack">
	<div class="row showlog loading animate">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<img src="/img/app/sport-graphics-running-881880.gif" /><br />
			{{track.fitnessTrackIdd}}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			{{#each track}}
				<div class="row showlog loading animate" id="{{_id}}">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<span class="label label-primary">{{time}} {{location.coords.speed}}m/s <!-- {{location.distance}}km --></span>	
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="recentTracks">
	<div class="row showtrack loading animate" >
		<div class="col-xs-12 col-sm-12 col-md-12">
			Recent tracks
		</div>
	</div>
	{{#each userTracks}}
		<div class="row showtrack loading animate" id="{{_id}}">
			<div class="col-xs-2 col-sm-2 col-md-2">				
				<i class="fa fa-bicycle"></i>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 showMap" id="{{_id}}">
				<span class="label {{#if selected}} label-primary {{else}} label-info {{/if}}">{{date}} {{trackActivity.activity}} {{duration}}</span>
				<span class="label {{#if selected}} label-primary {{else}} label-info {{/if}}"> {{distance}}m {{calories}}cal</span>
			</div>
		</div>
	{{/each}}
</template>

<template name="selectRoutes">
	<div class="row showtrack loading animate" >
		<div class="col-xs-12 col-sm-12 col-md-12">
			Select routes
		</div>
	</div>
	{{#each routes}}
		<div class="row showtrack loading animate " >
			<div class="col-xs-2 col-sm-2 col-md-2 showMap selectroute" id="{{fitnessTrackId}}">				
				<img src="/img/app/map.png" width="48px" />
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 setfitnessTrackId selectroute" id="{{fitnessTrackId}}">
				<img src="/icon/{{activity.icon}}" width="48px" /> <span class="label {{#if selected}} label-primary {{else}} label-info {{/if}}"></span>
			</div>
			<div class="col-xs-7 col-sm-7 col-md-7 setfitnessTrackId selectroute" id="{{fitnessTrackId}}">
				<span class="label {{#if selected}} label-primary {{else}} label-info {{/if}}">{{routeName}} {{distance}}m {{calories}}cal</span>
			</div>
		</div>
	{{/each}}
</template>

<template name="showMapFit">
	<div class="topdiv">
		Your route
	</div>
	<div class="content-scrollable">
		<div class="container-fluid">
			<div class="map-container">
				{{> googleMap name="fitnessMap" options=fitnessMapOptions}}
			</div>
			<div class="separator">
			</div>
<!-- 			{{#each track}}
				<div class="row setlocations" id="">
					<div class="col-xs-12 col-sm-12 col-md-12" style="font-size:70%"> 
						Track {{date}} {{location.coords.latitude}},{{location.coords.longitude}} {{location.coords.speed}}km/h {{distance}}m
					</div>
				</div>	
			{{/each}} -->
			
			<div class="row setlocations" id="">
				<div class="col-xs-12 col-sm-12 col-md-12" > 
					{{#with fitnessTrack}}
						Route: {{distance}}m in {{timespent}}, {{calories}}cal
					{{/with}}
				</div>
			</div>	
			<div class="row setlocations" id="">
					{{#with fitnessRoute}}
						{{#autoForm id="rememberRouteForm4" collection="FitnessRoutes"  doc=this type="update" template="bootstrap3-horizontal" autosave=true schema="Schemas.FitnessRoutes" }}
							<div class="col-xs-9 col-sm-9 col-md-9 inline">
								{{> afFieldInput name="routeName" label=false placeholder="Name your route"}}
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 inline">
								{{> afFieldInput name="publicRoute" }}
							</div>
							<div class="form-group">
								{{> afFieldInput name="timestamp" type="hidden" value=timestamp}}	
							</div>
						{{/autoForm}}
					{{/with}}
					
					{{#with fitnessTrack}}
						{{#unless fitnessRouteId}} 
							{{#autoForm id="rememberRouteForm" type="insert" collection="FitnessRoutes" template="bootstrap3-horizontal" schema="Schemas.FitnessRoutes"}}
								<div class="col-xs-6 col-sm-6 col-md-6 inline">
									{{> afFieldInput name="routeName" label=false placeholder="Name your route" template="bootstrap3-horizontal" input-col-class="col-xs-7 col-sm-7 col-md-7 inline"  }}
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 inline">
									{{> afFieldInput name="publicRoute" template="bootstrap3-horizontal" input-col-class="col-xs-3 col-sm-3 col-md-3 inline"}}
								</div>
								<div class="col-xs-2 col-sm-2 col-md-2 inline">
									<button type="submit" class="btn btn-primary ">Ok</button>
								</div>
								<div class="form-group">
									{{> afFieldInput name="fitnessTrackId" type="hidden" value=_id}}
									{{> afFieldInput name="userId" type="hidden" value=userId}}
									{{> afFieldInput name="timestamp" type="hidden" value=timestamp}}	
									{{> afFieldInput name="activityId" type="hidden" value=activityId}}
									{{> afFieldInput name="distance" type="hidden" value=distance}}
								</div>
							{{/autoForm}}
						{{/unless}}
					{{/with}}

			</div>			
		</div>
	</div>
	<input type="button" class="button cancel btn btn-danger btn-down" value="Close" />
</template>

