<template name="fitness">
  <div class="page about">
    {{> nav title='Fitness' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
				<h1 class="title-about">
	<!-- 				<img src="img/app/title-about.svg" alt="LifeLog"/> -->
				</h1> 
      </div>
      <div class="description-about">
      </div>
			{{> routes}}
		
    </div>
  </div>
</template>

<template name="routes">
	<div class="container-fluid loading animate">
		{{#unless ifFitness}}
			<div class="row ">
				<div class="col-xs-6 col-sm-6 col-md-6 center">
					<button class="btn btn-large btn-secondary findfit">Find a route</button>				
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 center">
					<button class="btn btn-large btn-secondary juststart">Just start</button>				
				</div>
			</div>
			{{#if ifFindFit}}
				{{#Animate}}
					<div class="row showactiv loading animate">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="alert alert-info" role="alert">We will show the nearest fitness route</div>
							{{#each activities}}
								<div class="row showactiv loading animate" id="{{_id}}">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<span class="label {{#if selected}} label-primary {{else}} label-info {{/if}} fitActivity" id="{{_id}}">{{activity}}</span>							
									</div>
								</div>
							{{/each}}
						</div>
					</div>
	<!-- 				<div class="row findroute loading animate">
						<div class="col-xs-12 col-sm-12 col-md-12 center">
							<button class="btn btn-large btn-secondary findfit">Select Activities</button>
							<div class="alert alert-info kninfo" role="alert">We will show the nearest fitness route</div>
						</div>
					</div> -->
				{{/Animate}}
			{{/if}}
		{{/unless}}
		<div class="row ">
			<div class="col-xs-12 col-sm-12 col-md-12 center">
				{{#if fitActivity}}
					{{#unless ifFitness}}
						<button class="btn btn-large btn-secondary inline startfit">Start</button>
					{{/unless}}
				{{/if}}
				{{#if ifFitness}}
					<button class="btn btn-large btn-secondary inline stopfit">Stop</button>
				{{/if}}
				{{#unless fitActivity}}
					<div class="alert alert-info kninfo" role="alert">
						With start button we change the gps request frequency to 10 sec, and stop finding the place.
					</div>			
				{{/unless}}
				
			</div>
		</div>
		{{#if ifFitness}}
			{{#Animate}}
				<!-- Current track here -->
				<div class="row showlog loading animate">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<img src="/img/app/animated-green-runner.gif" /><br />
						{{track.fitnessTrackIdd}}
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						{{#each track}}
							<div class="row showlog loading animate" id="{{_id}}">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<span class="label label-primary">{{time}} {{location.coords.speed}}m/s <!-- {{location.distance}}km --></span>	
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			{{/Animate}}
		{{else}}
			<!-- Previous tracks -->
			<div class="row showtrack loading animate" >
				<div class="col-xs-12 col-sm-12 col-md-12">
					Recent tracks
				</div>
			</div>
			{{#each userTracks}}
				{{#if show}}
					<div class="row showtrack loading animate" id="{{_id}}">
						<div class="col-xs-2 col-sm-2 col-md-2">				
							<i class="fa fa-bicycle"></i>
						</div>
						<div class="col-xs-10 col-sm-10 col-md-10 showMap" id="{{_id}}">
							<span class="label label-primary">{{date}} {{trackActivity.activity}} {{duration}}</span><br/>
							<span class="label label-primary"> {{distance}}m {{calories}}cal</span>
						</div>
					</div>
				{{/if}}
			{{/each}}
		{{/if}}
	</div>
</template>

<template name="showMapFit">
	<div class="topdiv">
		Your route
	</div>
	<div class="content-scrollable">
		<div class="container-fluid">
			<div class="map-container">
				{{> googleMap name="fitnessMap" options=fitnessMapOptions}}
			</div>
			<div class="separator">
			</div>
<!-- 			{{#each track}}
				<div class="row setlocations" id="">
					<div class="col-xs-12 col-sm-12 col-md-12" style="font-size:70%"> 
						Track {{date}} {{location.coords.latitude}},{{location.coords.longitude}} {{location.coords.speed}}km/h {{distance}}m
					</div>
				</div>	
			{{/each}} -->
			<div class="row setlocations" id="">
				<div class="col-xs-12 col-sm-12 col-md-12" > 
					Route: {{fitnessTrack.distance}}m in {{fitnessTrack.timespent}}, {{fitnessTrack.calories}}cal
				</div>
			</div>	
		</div>
	</div>
	<input type="button" class="button cancel btn btn-danger btn-down" value="Cancel" />
</template>

