<template name="friends">
  <div class="page about">
    {{> nav title='Friends' black=true}}

    <div class="content-scrollable">
<!--       <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Temp"/>
        </h1>
      </div>
      <div class="description-about">
				This part of the app comes soon
				
				
      </div> -->
			{{> foursquare}}
    </div>
  </div>

</template>

<template name="foursquare">



</template>
