<template name="home">
  <div class="page home">

    {{>nav title='Local Market' black=true}}

		{{> homeinside}}

	</div>
</template>

<template name="homeinside">
	<div class="content-scrollable">
		<div class="bg-image home">
			<h1 class="title-home">
<!-- 				<img src="img/app/logo.png" alt="Kn42 Personal Companion"/> -->
			</h1>
			<span class="hours"><span class="title-callout">Take me anywhere</span></span>
			<span class="arrow"></span>
		</div>

		<div class="callout-news">
			<div class="title-callout">News</div>
			{{latestNews.text}}
		</div>

		<h2 class="list-title">You are at:</h2>
<!-- 		<div class="list-subtitle">See more</div> -->

		<div class="container-fluid">		
			{{#if ifUser}}
				{{> homelocation}}
	<!-- 			{{> claimIt}} -->
			{{else}}
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						We need to create profile for you before you can start using service			
					</div>
					<a href="{{pathFor 'about'}}" class="btn-primary col-xs-12 col-sm-12 col-md-12" id="goprofile">Login</a>
				</div>
			{{/if}}	
		</div>

		{{#if debug}}
			<div class="callout-news">
				<span class="white fa fa-gift"></span> <span class="title-callout">Special offers</span>
			</div>
			<div class="container-fluid">		
				offers are coming
			</div>
		{{/if}}
	</div>
</template>

<template name="homelocation">
	{{#with currentlocation}}
		<div class="row" id="homelocation">
			<div class="container-fluid kn-container">
			<div class="col-xs-2 col-sm-2 col-md-2">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<img style="width: auto; height: auto; max-width: 40px" src="
							{{#if travel}}
								img/app/car.png
							{{else}}
								{{#if geoPlace.icon}}  {{geoPlace.icon}} {{else}} {{geoMerchant.icon}} {{/if}}
							{{/if}}
						" />
					</div>				
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						{{#unless travel}}<div style="font-size: smaller; float:right"><span class="badge">{{userPlace.count}}</span></div>{{/unless}}
					</div>
				</div>
			</div>
			<div class="selectplace col-xs-8 col-sm-8 col-md-8" id="
				{{#if status}}
					{{userPlace._id}}
				{{/if}}
			">
				{{#if userPlace.travel}}
					<div>
						Travelling<br />
						{{#if location.coords.speed}}speed {{location.coords.speed}} {{/if}}
						{{status}} since {{started}} {{#if timespent}}  for {{timespent}} {{/if}}
					</div>
				{{else}}
					<div>
						{{#if userPlace.name}} {{userPlace.name}} {{else}}
							{{#if geoPlace.name}} {{geoPlace.name}} {{else}} {{geoMerchant.name}} {{/if}}<br />
						{{/if}}
					</div>
<!-- 					{{#if checkedFsqr}} 
						<div style="width: auto; white-space: normal">
							<i class="fa fa-foursquare"></i> Checked at {{checkedFsqr.venue.name}} {{checkedFsqr.date}}
						</div>
					{{else}}
						<div style="width: auto; white-space: normal" id="checkFsqr">
							{{#if checkinFsqr}} 
								<i class="fa fa-foursquare"></i> Check at {{checkinFsqr.name}}?
							{{else}}
								<i class="fa fa-foursquare"></i> no fsqr around. Check? {{findFsqr}} 
							{{/if}}
						</div>						
					{{/if}}  -->
					{{#if userPlace.name}}
						{{> venuesSelected}}
					{{/if}}
					<div style="font-size: smaller">
						{{#if geoPlace.name}}{{geoPlace.vicinity}} {{else}}{{geoMerchant.vicinity}} {{/if}}<br />
<!-- 						<div>{{> venuesSelected}}</div> -->							
					</div>
					{{#if ifDebug}} 
						<div style="font-size:50%">
							{{status}} {{#if status}} since {{started}} {{started2}} {{timestamp}} {{#if timespent}} for {{timespent}} {{/if}} {{/if}} 
							<br />
							finished: {{finished}}
							{{userPlace.place_id}}
						</div>
					{{/if}}
				{{/if}}
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2">
				{{#if claimed}}
					<span class="glyphicon glyphicon-home" style="font-size: xx-large" aria-hidden="true"></span>
				{{/if}}
			</div>
			</div>
		</div>

		{{#if status}}
			{{> buttons}}
		{{/if}}

	{{/with}}
</template>

<template name="locationmove">
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="selectplace" style="width: 100%; height: auto" id="
				{{#if currentlocation.status}}
					{{userPlace._id}}
				{{/if}}
			">
				<div style="display:inline-block; width: 85%; vertical-align: top;">
					{{#if userPlace.travel}}
						<div>
							Travelling<br />
							{{#if location.coords.speed}}speed {{location.coords.speed}} {{/if}}
							{{status}} since {{started}} {{#if timespent}}  for {{timespent}} {{/if}}
						</div>
					{{else}}
						<div>
							{{#if userPlace.name}} {{userPlace.name}} {{else}}
								{{#if geoPlace.name}} {{geoPlace.name}} {{else}} {{geoMerchant.name}} {{/if}}
							{{/if}}
						</div>
						<div style="font-size: smaller">
							{{geoPlace.vicinity}} <br />
							{{status}} since {{started}} {{timestamp}} {{#if timespent}}  for {{timespent}} {{/if}}
<!-- 						<div>{{> venuesSelected}}</div> -->							
						</div>
					{{/if}}
					
				</div>
				<div style="display:inline-block; width: 10%; max-width: 40px; vertical-align: top;">
					<div>
						<img style="width: auto; height: auto; max-width: 40px" src="{{geoPlace.icon}}" />
					</div>
					{{#unless travel}}<div style="font-size: smaller">been: {{count}}</div>{{/unless}}
				</div>
			</div>
			<div>
				{{#if status}}
					{{> buttons}}
				{{/if}}
			</div>
		</div>
</template>

<template name="buttons">
	{{#with buttonsPlace}}
		<div class="row buttons-row loading animate">	
			<div class="col-xs-12 col-sm-12 col-md-12 center">
				<form class="form-inline buttons" id="{{_id}}">
					<input type="button" class="button btn-secondary btn btn-small flleft
						{{#if confirmed}}undo{{else}}{{#if travel}}undo{{else}}confirm{{/if}}{{/if}}
						" id="{{_id}}" value="
						{{#if confirmed}}undo{{else}}{{#if travel}}undo{{else}}conf{{/if}}{{/if}}
					" />
					
					{{#if confirmed}}
						{{> claimIt}}
					{{else}}
						{{#unless travel}}
							<input type="button" class="button locations btn btn-small btn-tertiary " id="{{_id}}" value="Change" />
							<input type="button" class="button travel btn btn-small btn-quartiary flright" id="{{_id}}" value="Travel" />
						{{/unless}}
					{{/if}}

					<input type="hidden" id="lat-{{userPlace._id}}" value="{{latitude}}">
					<input type="hidden" id="lng-{{userPlace._id}}" value="{{longitude}}">
				</form>
			</div>
		</div>
		<div class="separator">
		</div>

		{{#if confirmed}}
		{{#Animate}}		
			{{> selectExperience}}
		{{/Animate}}	
		{{/if}}

	{{/with}}
</template>

<template name="claimIt">
<!-- 	<div class="row">
		<div class="btn-info col-xs-12 col-sm-12 col-md-12"> -->
			{{#if claimed}}
				<span class="right"><button class="inline button claim btn btn-small editClaim" id="{{claimed._id}}">Claimed: {{claimed.name}}</button></span>
			{{else}}
				<span class="right">Claim your place: <input type="button" class="inline button claim btn btn-quartiary btn-small" id="{{_id}}" value="Claim" /></span>
			{{/if}}
<!-- 		</div>
	</div> -->
</template>
	
<template name="selectExperience">
	<div class="row experience animate">	
		<div class="col-xs-12 col-sm-12 col-md-12">

			{{#with experiences}}
				
				{{#autoForm id="experiencesForm2" collection="Experiences"  doc=this type="update" autosave=true schema="Schemas.Experiences" }}
					<div class="form-group">
						{{> afFieldInput name="experience" type="text" autocomplete="on" placeholder="add your experience"}}
						{{> afFieldInput name="userId" type="hidden" value=userId}}
					</div>
				{{/autoForm}}
			{{/with}}

			{{#unless experiences}}
				{{#autoForm id="experiencesForm1" collection="Experiences" template="plain" type="insert" schema="Schemas.Experiences" }}
					<div class="form-inline">			
						{{> afFieldInput name="experience" type="text" autocomplete="on" placeholder="add your experience"  template="plain"}}
						{{> afFieldInput name="userId" type="hidden" value=userId}}
						{{#with currentPlace}}
							{{> afFieldInput name="place_id" type="hidden" value=place_id}}
						{{/with}}
						<button type="submit" class="form-inline button btn btn-small btn-tertiary right" id="{{_id}}">Add</button>
					</div>
				{{/autoForm}}
			{{/unless}}

			
		</div>
<!-- 		<script>
			var timer = null;
			$('#experience').keydown(function(){
						 clearTimeout(timer); 
						 timer = setTimeout(doStuff, 1000)
			});

			function doStuff() {
					alert('do stuff');
			}
		</script> -->
	</div>
</template>

<template name="_show_exp2">
	{{> buttons}}
	{{> venuesSelected}}
</template>

<template name="_no_exp2">
</template>

<template name="common_kn">

</template>
