<template name="home">
  <div class="page home">

    {{>nav title='Local Market' black=true}}

		{{> homeinside}}

	</div>
</template>

<template name="homeinside">
	<div class="content-scrollable">
		<div class="bg-image home">
			<h1 class="title-home">
				<img src="img/app/dolphin-kn42-1000x500.png" alt="Kn42 Personal Companion"/>
			</h1>
			<span class="hours"><span class="title-callout">Take me anywhere</span></span>
			<span class="arrow"></span>
		</div>

		<div class="callout-news">
			<span class="title-callout">News</span>
			{{latestNews.text}}
		</div>

		<h2 class="list-title">You are at:</h2>
		<div class="list-subtitle">See more</div>
		<div class="list-activities">
			{{#if ifUser}}
				{{#if currentlocation}}
					<div style="width: 100%; height: auto; padding: 5px">
						<div class="div-locations" style="width: 100%; height: auto" id="{{user_history_location_id}}">
							<div style="display:inline-block; width: 85%; vertical-align: top;">
								
								{{#if currentplace.name}} {{currentplace.name}} {{else}} Unknown {{/if}} <br/>
								<span style="font-size: smaller">
									{{currentplace.vicinity}} <br />
									{{#if currentplace.timespent}} Started {{currentplace.timespent}} {{/if}}
								</span>
								
							</div>
							<div style="display:inline-block; width: 10%; max-width: 40px; vertical-align: top;">
								<img style="width: auto; height: auto; max-width: 40px" src="{{currentplaces.icon}}" />
							</div>
						</div>
						<div>status: {{#if currentlocation.moving}} moving {{else}} stationary {{/if}}</div>
						<div>{{> buttons}}</div>
					</div>
				{{/if}}
			{{else}}
				We need to create profile for you before you can start using service
				<a href="{{pathFor 'about'}}"> <button class="btn btn-primary" id="goprofile" style="width:100%">Login</button></a>
				
			{{/if}}
			<br />			
		</div>
		<div >

		</div>
		<div>
<!-- 		{{#if changeplace}}
			{{> selectPlace}}
		{{/if}} -->
		</div>
		<a href="{{pathFor 'geolog'}}" class="btn-primary">See what's cooking</a>
		
		<h2 class="list-title">What's Cooking</h2>
		<div class="list-subtitle">See what the community is cooking</div>
		<div class="list-activities">
		</div>
		<a href="{{pathFor 'geolog'}}" class="btn-primary">See what's cooking</a>

		<h2 class="list-title">Events and places around you</h2>
		<div class="list-subtitle">Hand-picked by the wisdom of automated processing</div>
		<div class="list-recipes">
<!-- 			{{#each featuredRecipes}}
				{{> recipeItem recipe=this size='small'}}
			{{/each}} -->
		</div>

		<a href="{{pathFor 'locations'}}" class="btn-primary">Explore your recent locations</a>

	</div>
</template>

<template name="buttons">
	<div>
		<div style="display: inline-block; width: auto; vertical-align: top; ">
			<form class="form-inline buttons" id="{{userLocation.user_history_location_id}}">
				<input type="button" class="button {{#if userLocation.confirmed}}undo{{else}}confirm{{/if}} btn btn-small" id="{{userLocation.user_history_location_id}}" value="
					{{#if userLocation.confirmed}}Undo{{else}}Conf{{/if}}
				" />
				{{#with userLocation}}
					{{#unless confirmed}}
						<input type="button" class="button locations btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Change" />
						<input type="button" class="button travel btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Travel" />
					{{/unless}}
				{{/with}}	
				<input type="hidden" id="lat-{{userLocation.user_history_location_id}}" value="{{userLocation.latitude}}">
				<input type="hidden" id="lng-{{userLocation.user_history_location_id}}" value="{{userLocation.longitude}}">
			</form>
		</div>
		<div style="display: inline-block; width: 65%">
			{{#if userLocation.confirmed}}
				{{> selectExperience}}
			{{/if}}
		</div>
	</div>
</template>

<template name="selectExperience">
	<div class="demo">
		<div class="control-group">
			<form class="form-inline" id="{{currentPlace}}">
<!-- 				<label for="select-{{currentPlace}}-empty">Add your experience:</label> -->
				<select id="select-{{currentPlace}}-empty" class="demo-default" data-placeholder="Select or create...">			
					{{#if experiences}}
						{{#each experiences}}
							<option value="{{experience}}">{{experience}}</option>
						{{/each}}
					{{else}}
						{{#each types}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					{{/if}}			
					<option value="">None</option>
				</select>
				<input class="button btn inline-block" type="submit" value="Submit your experience">
			</form>
		</div>
		<script>
		$('#select-{{currentPlace}}-empty').selectize({
			allowEmptyOption: true,
			create: true
		});
		</script>
	</div>
</template>

<template name="_show_exp2">
	{{> buttons}}
</template>

<template name="_no_exp2">
</template>
