<template name="lifelog">
  <div class="page recipes">
    {{> nav title='Lifelog' black=true}}
<!-- 					<div>
						{{#if showCreateDialog}}
							{{> locationModal}}
						{{/if}}	
					</div> -->
    <div class="content-scrollable">
			<div class="container-fluid">	
				<div class="top-separator"></div>

				{{#if searching}}
					<p>Downloading history from server...</p>
					{{> spinner}}
				{{else}}
					{{> showlocations}}
					{{> overlay}}
				{{/if}}
			</div>
<!--       <div class="list-recipes">
					<hr>
					<div>
					</div>
      </div> -->
    </div>
		{{#if ifDebug}}
		<footer class="footer" style="bottom: 0; position: absolute;">
			<div class="footer">
				<button class="button reloadlocations btn btn-danger btn-xs btn-modal"> Reload Data </button>
				<button class="button updatelocations btn btn-primary btn-xs btn-modal"> Update </button>
			</div>
		</footer>
		{{/if}}
  </div>
</template>

<template name="showlocations">
	{{#each locations}}
		<div class="row">
			<div class="selectplace col-xs-8 col-sm-8 col-md-8" id="{{_id}}">
<!-- 				<div>{{geoPlace.vicinity}}
				</div> -->
				{{#if travel}}
					<div>
						Travelling<br />
						{{#if location.coords.speed}}speed {{location.coords.speed}} {{/if}}
						{{status}} since {{started}} {{#if timespent}}  for {{timespent}} {{/if}}
					</div>
				{{else}}
					<div>
						{{#if geoPlace.name}} {{geoPlace.name}} {{else}} {{geoMerchant.name}} {{/if}}
					</div>
					<div style="font-size: smaller">
						{{#if geoPlace.name}}{{geoPlace.vicinity}} {{else}}{{geoMerchant.vicinity}} {{/if}}<br />
						{{status}} since {{started}} {{#if timespent}} for {{timespent}} {{/if}}
<!-- 						<div>{{> venuesSelected}}</div> -->							
					</div>
					{{#if ifDebug}} 
						<div style="font-size:50%">
							{{place_id}}
						</div>
					{{/if}}
					{{#if ifDebug}}<div style="font-size:50%"> finished: {{finished}}</div>{{/if}}
				{{/if}}
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						{{#if claimed}}
							<span class="glyphicon glyphicon-home" style="font-size: xx-large" aria-hidden="true"></span>
						{{/if}}
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<img style="width: auto; height: auto; max-width: 40px" src="
							{{#if travel}}
								img/app/car.png
							{{else}}
								{{#if geoPlace.icon}}  {{geoPlace.icon}} {{else}} {{geoMerchant.icon}} {{/if}}
							{{/if}}
						" />
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						{{#unless travel}}<span class="badge flright">{{count}}</span>{{/unless}}
					</div>
				</div>
			</div>
		</div>

		{{#if geoPlace.showbut}}
			{{#Animate}}		
				{{> buttons}}
					{{#unless travel}}
						{{> venuesSelected}}
					{{/unless}}
				{{else}}
					{{#if geoMerchant.showbut}}
						{{> buttons}}
						{{#unless travel}}
							{{> venuesSelected}}
						{{/unless}}
					{{/if}}
			{{/Animate}}		
		{{/if}}
		<hr>
	{{/each}}
</template>


<template name="selectPlace">
	<div class="topdiv">
		Select your place
	</div>
	<div class="content-scrollable">
		<div class="container-fluid">
			{{#if gPlaces}}
				<br /><br />
				{{> confirm}}
				{{#each gPlaces}}
					{{#each content}} 
						content
						{{content}}
					{{/each}}
					<div class="separator">
					</div>
					<div class="row setlocations" id="{{place_id}}">
						<div class="col-xs-8 col-sm-8 col-md-8">{{#if name}} {{name}} {{else}} Unknown {{user_history_location_id}}  {{/if}}</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<form class="form-inline" >
								<div class="form-group">
	<!-- 								<input type="button" class="button setlocations btn btn-primary" id="{{place_id}}" value="Set" /> -->
									<img class="setlocations3" id="icon-{{place_id}}" style="width:40px" src="{{#if icon2}}  {{icon2}} {{else}} {{icon}} {{/if}}" />
									<input type="hidden" id="place-{{place_id}}" value="{{name}}">
								</div>
							</form>	
						</div>
					</div>	
				{{/each}}
				<div class="row elsewhere" id="{{place_id}}">
					<div class="col-xs-8 col-sm-8 col-md-8">Elsewhere</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<form class="form-inline" >
							<div class="form-group">
	<!-- 							<input type="button" class="button elsewhere btn btn-primary" id="0" value="Set" /> -->
								<img class="setlocations3" id="icon-{{place_id}}" style="width:40px" src="img/app/rss_icon.png" />
								<input type="hidden" id="place-0" value="else">
							</div>
						</form>	
					</div>
				</div>
				<br />
			{{else}}
				{{> searching}}
			{{/if}}		
			<hr>
		</div>
	</div>
	<input type="button" class="button cancel btn btn-danger btn-down" value="Cancel" />
</template>

<template name="searching">
	<div class="kn-ontop">
		{{> spinner}}
<!-- 		<img src="img/app/qVHae.gif" /> -->
	</div>
</template>

<template name='confirm'>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<label for="allloc" class="checkbox-inline allloc"> 
				<input type="checkbox" name="allloc" id="allloc" checked="{{isChecked}}"/> Apply for all locations like that one
			</label>
		</div>
	</div>
</template>

<template name="_show_exp">
	<input type="button" class="button experience btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Exp" />
</template>

<template name="_no_exp">
</template>






