<template name="lifelog">
  <div class="page recipes">
    {{> nav title='Lifelog' black=true}}
<!-- 					<div>
						{{#if showCreateDialog}}
							{{> locationModal}}
						{{/if}}	
					</div> -->
    <div class="content-scrollable">
      <div class="list-recipes">
				{{#if userId}}
					<hr>
					<div>
						{{> showlocations}}
						{{> overlay}}
					</div>
				{{else}}
					Please log in to see your LifeLog<br>
					{{> loginButtons}}
				{{/if}}
      </div>
    </div>
		{{#if ifDebug}}
		<footer class="footer" style="bottom: 0; position: absolute;">
			<div class="footer">
				<button class="button reloadlocations btn btn-danger btn-xs btn-modal"> Reload Data </button>
				<button class="button updatelocations btn btn-primary btn-xs btn-modal"> Update </button>
			</div>
		</footer>
		{{/if}}
  </div>
</template>

<template name="showlocations">
<!-- 	{{#if isInOverlay}}
		{{> selectPlace}}
	{{/if}} -->
	{{#unless isInOverlay}}
		{{#if latest}}{{latest}}{{/if}}
		{{#each locations}}
				<div style="width: 100%; height: auto; padding: 5px">
					<div class="div-locations" style="width: 100%; height: auto" id="{{user_history_location_id}}">
						<div style="display:inline-block; width: 20%; vertical-align: top;">{{>profilePic}}</div> 
						<div style="display:inline-block; width: 55%; vertical-align: top;">
							<div>
								{{#if travel}}
									Travel
								{{else}}
									{{#if name}} {{name}} {{else}} Unknown {{/if}} 
								{{/if}}
							</div>
							<div style="font-size:smaller">
								{{vicinity}} <br />
								{{started}} <br />
								spent {{timespent}}
							</div>
						</div>
						<div style="display:inline-block; width: 10%; max-width: 40px; vertical-align: top;">
<!-- 							<img style="width: auto; height: auto; max-width: 40px" src="{{#unless travel}}{{icon}}{{/unless}}" /> -->
							<img style="width: auto; height: auto; max-width: 40px" src="{{#if icon2}}  {{icon2}} {{else}} {{icon}} {{/if}}" />
						</div>
					</div>
					{{#if ifDebug}}<div> {{finished}}</div>{{/if}}
					<div style="width: 100%; height: auto">
<!-- 					{{#if selected}}
						{{> buttons}}
					{{/if}} -->
						{{#ifConfirmed2 user_history_location_id}}
							content
						{{/ifConfirmed2}}
						<hr>
					</div>
				</div>
		{{/each}}
	{{/unless}}
</template>

<template name="selectPlace">

	<div class="content-scrollable">
		{{#if places}}
			<br /><br />
			{{> confirm}}
			{{#each places}}
				{{#each content}} 
					content
					{{content}}
				{{/each}}
				{{#with googlePlace}}
				<div class="kn-container setlocations {{place_id}}" style="overflow:hidden; height: auto; min-height: 40px; padding:5px" id="{{place_id}}">
					<div class="kn-leftcol">{{#if name}} {{name}} {{else}} Unknown {{user_history_location_id}}  {{/if}}</div>
					<div class="kn-rightcol">
						<form class="form-inline" >
							<div class="form-group">
<!-- 								<input type="button" class="button setlocations btn btn-primary" id="{{place_id}}" value="Set" /> -->
								<img class="setlocations3" id="icon-{{place_id}}" style="width:40px" src="{{#if icon2}}  {{icon2}} {{else}} {{icon}} {{/if}}" />
								<input type="hidden" id="place-{{place_id}}" value="{{name}}">
							</div>
						</form>	
					</div>
				</div>	
				{{/with}}
			{{/each}}
			<div class="kn-container elsewhere {{place_id}}" style="overflow:hidden; height: auto; min-height: 40px; padding:5px" id="{{place_id}}">
				<div class="kn-leftcol">Elsewhere</div>
				<div class="kn-rightcol">
					<form class="form-inline" >
						<div class="form-group">
<!-- 							<input type="button" class="button elsewhere btn btn-primary" id="0" value="Set" /> -->
							<img class="setlocations3" id="icon-{{place_id}}" style="width:40px" src="img/app/rss_icon.png" />
							<input type="hidden" id="place-0" value="else">
						</div>
					</form>	
				</div>
			</div>
			<div class="kn-container" style="height: 23px">
			</div>
			<br />
		{{else}}
			{{> searching}}
		{{/if}}		
		<hr>
	</div>
	<input type="button" class="button cancel btn btn-primary btn-down" value="Cancel" />
</template>

<template name="searching">
	<div class="kn-ontop">
		<img src="img/app/qVHae.gif" />
	</div>
</template>

<template name='confirm'>
	<div class="kn-container">
		<label for="allloc" class="checkbox-inline allloc"> 
			<input type="checkbox" name="allloc" id="allloc" checked="{{isChecked}}"/> Apply for all locations like that one
		</label>
	</div>
</template>

<template name="_show_exp">
	<input type="button" class="button experience btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Exp" />
</template>

<template name="_no_exp">
</template>






