<template name="locations">
  <div class="page recipes">
    {{> nav title='Locations' black=true}}
					<div>
						{{#if showCreateDialog}}
							{{> locationModal}}
						{{/if}}	
					</div>
    <div class="content-scrollable">
      <div class="list-recipes">
<!--         {{#each this}}
          {{#if highlighted}}
            {{> recipeItem recipe=this size='large'}}
          {{else}}
            {{> recipeItem recipe=this size='small'}}
          {{/if}}
        {{/each}} -->
				{{#if userId}}
					<hr>
					<div>
						{{> showlocations}}
					</div>
				{{else}}
					Please log in to see your LifeLog<br>
					{{> loginButtons}}
				{{/if}}
      </div>
    </div>
		<footer class="footer" style="bottom: 0; position: absolute;">
			<div class="footer">
				<button class="button reloadlocations btn btn-danger btn-xs"> Reload Data </button>
				<button class="button updatelocations btn btn-primary btn-xs"> Update </button>
			</div>
		</footer>
  </div>
</template>

<template name="kn42_locations">  
   
	<div class="hero-unit">
        <h1>User Locations</h1>
		{{> loginButtons}}
    </div>
    <div class="page-header">
	</div>
	<div class="container">
		<div>

			{{#if showCreateDialog}}
				{{> locationModal}}
			{{/if}}
<!-- 			modal 2 {{> locationModal2}}
			modal 1 {{> locationModal}} -->
		
		</div>
		<div class="footer">
		footer
			<button class="button reloadlocations btn btn-danger"> Reload Data </button>
			<button class="button updatelocations btn btn-primary"> Update </button>
		</div>
		<hr>
		<div>
			{{> showlocations}}
		</div>

    </div>
</template>

<template name="showlocations">
	{{#each locations}}
		<p>{{user_history_location_id}} {{#if name}} {{name}} {{else}} Unknown {{/if}} <br/><small>started at {{started}}, finished at {{finished}}</small></p>
		<form class="form-inline" >
			<input type="button" class="button locations btn btn-primary" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Change" />
			<input type="hidden" id="lat-{{user_history_location_id}}" value="{{latitude}}">
			<input type="hidden" id="lng-{{user_history_location_id}}" value="{{longitude}}">
			<input type="hidden" name="test" value="test">
		</form>
		<hr>
	{{/each}}
<!-- 
{{#if locationId=user_history_location_id}}
	echo: {{showPlace}} {{locationId}} = {{user_history_location_id}}
	{{#each places}}
		{{> place}}
		<hr>		
	{{/each}}	
{{/if}} -->
</template>

<template name="selectPlace">
	<p> Select place for location {{locationId}}</p>
	{{#each places}}
		<div class="kn-container">
			<div class="kn-leftcol">{{#if name}} {{name}} {{else}} Unknown {{/if}}</div>
			<div class="kn-rightcol">
				<form class="form-inline" >
					<div class="form-group">
						<input type="button" class="button setlocations btn btn-primary" id="{{place_id}}" value="Set" />
						<input type="hidden" id="place-{{place_id}}" value="{{name}}">
					</div>
				</form>	
			</div>
		</div>	
	{{/each}}
	<div class="kn-container">
	<div class="kn-leftcol">Elsewhere</div>
		<div class="kn-rightcol">
			<form class="form-inline" >
				<div class="form-group">
					<input type="button" class="button setlocations btn btn-primary" id="0" value="Set" />
					<input type="hidden" id="place-0" value="else">
				</div>
			</form>	
		</div>
	</div>
	<hr>
</template>


<!-- Modal --> 
<template name="locationModal">
	<div class="modal show in fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 100%;">                                                                                
			<div class="modal-content">                                                                               
				<div class="modal-header">                                                                                
					<a class="close cancel" data-dismiss="modal">×</a>                                                             
					<h3>Select the place for location</h3>                                                                        
				</div>                                                                                                    
				<div class="modal-body" >                                                                                 
					<h4>Places</h4>                                                                                
					{{> selectPlace}} 

				</div>                                                                                                    
				<div class="modal-footer">                                                                                                                              
					<a href="#" class="btn cancel" data-dismiss="modal">Close</a>                                                  
				</div>  
			</div>
		</div>
	</div>

</template>