<template name="locations">
  <div class="page recipes">
    {{> nav title='Locations' black=true}}
<!-- 					<div>
						{{#if showCreateDialog}}
							{{> locationModal}}
						{{/if}}	
					</div> -->
    <div class="content-scrollable">
      <div class="list-recipes">
				{{#if userId}}
					<hr>
					<div>
						{{> showlocations}}
						{{> overlay}}
					</div>
				{{else}}
					Please log in to see your LifeLog<br>
					{{> loginButtons}}
				{{/if}}
      </div>
    </div>
		<footer class="footer" style="bottom: 0; position: absolute;">
			<div class="footer">
				<button class="button reloadlocations btn btn-danger btn-xs btn-modal"> Reload Data </button>
				<button class="button updatelocations btn btn-primary btn-xs btn-modal"> Update </button>
			</div>
		</footer>
  </div>
</template>

<template name="showlocations">
<!-- 	{{#if isInOverlay}}
		{{> selectPlace}}
	{{/if}} -->
	{{#unless isInOverlay}}
		{{#each locations}}
			<p>{{user_history_location_id}} {{#if name}} {{name}} {{else}} Unknown {{/if}} <br/><small>started at {{started}}, finished at {{finished}}</small></p>
			<form class="form-inline" id="{{user_history_location_id}}">
				<input type="button" class="button confirm btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="
					{{#if confirmed}} Undo {{else}} Conf {{/if}}
				" />
				<input type="button" class="button locations btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Change" />
				<input type="button" class="button travel btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Travel" />
<!-- 				{{#ifConfirmed confirmed}}
					contents
				{{/ifConfirmed}}		 -->		
				<input type="hidden" id="lat-{{user_history_location_id}}" value="{{latitude}}">
				<input type="hidden" id="lng-{{user_history_location_id}}" value="{{longitude}}">
			</form>
			{{#ifConfirmed2 user_history_location_id}}
				content
			{{/ifConfirmed2}}
			<hr>
		{{/each}}
	{{/unless}}
</template>

<template name="selectPlace">

	<div class="content-scrollable">
		{{#if places}}
			<br /><br />
			{{> confirm}}
			{{#each places}}
				{{#each content}} 
					content
					{{content}}
				{{/each}}
				<div class="kn-container">
					<div class="kn-leftcol">{{#if name}} {{name}} {{else}} Unknown {{user_history_location_id}}  {{/if}}</div>
					<div class="kn-rightcol">
						<form class="form-inline" >
							<div class="form-group">
								<input type="button" class="button setlocations btn btn-primary" id="{{place_id}}" value="Set" />
								<input type="hidden" id="place-{{place_id}}" value="{{name}}">
							</div>
						</form>	
					</div>
				</div>	
			{{/each}}
			<div class="kn-container">
				<div class="kn-leftcol">Elsewhere</div>
				<div class="kn-rightcol">
					<form class="form-inline" >
						<div class="form-group">
							<input type="button" class="button elsewhere btn btn-primary" id="0" value="Set" />
							<input type="hidden" id="place-0" value="else">
						</div>
					</form>	
				</div>
			</div>
			<div class="kn-container" style="height: 23px">
			</div>
			<br />
		{{else}}
			{{> searching}}
		{{/if}}		
		<hr>
	</div>
	<input type="button" class="button cancel btn btn-primary btn-down" value="Cancel" />
</template>

<template name="searching">
	<div class="kn-ontop">
		<img src="img/app/qVHae.gif" />
	</div>
</template>

<template name='confirm'>
	<div class="kn-container">
		<label for="allloc" class="checkbox-inline allloc"> 
			<input type="checkbox" name="allloc" id="allloc" checked="{{isChecked}}"/> Apply for all locations like that one
		</label>
	</div>
</template>

<template name="_show_exp">
	<input type="button" class="button experience btn btn-small" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Exp" />
</template>

<template name="_no_exp">
</template>

<template name="_show_exp2">
	{{> selectExperience}}
</template>

<template name="_no_exp2">
</template>


