<template name="locations">
  <div class="page recipes">
    {{> nav title='Locations' black=true}}
<!-- 					<div>
						{{#if showCreateDialog}}
							{{> locationModal}}
						{{/if}}	
					</div> -->
    <div class="content-scrollable">
      <div class="list-recipes">
				{{#if userId}}
					<hr>
					<div>
						{{> showlocations}}
						{{> overlay}}
					</div>
				{{else}}
					Please log in to see your LifeLog<br>
					{{> loginButtons}}
				{{/if}}
      </div>
    </div>
		<footer class="footer" style="bottom: 0; position: absolute;">
			<div class="footer">
				<button class="button reloadlocations btn btn-danger btn-xs btn-modal"> Reload Data </button>
				<button class="button updatelocations btn btn-primary btn-xs btn-modal"> Update </button>
			</div>
		</footer>
  </div>
</template>

<template name="showlocations">
<!-- 	{{#if isInOverlay}}
		{{> selectPlace}}
	{{/if}} -->
	{{#unless isInOverlay}}
		{{#each locations}}
			<p>{{user_history_location_id}} {{#if name}} {{name}} {{else}} Unknown {{/if}} <br/><small>started at {{started}}, finished at {{finished}}</small></p>
			<form class="form-inline" >
				<input type="button" class="button locations btn btn-primary" data-toggle="modal" data-target="#myModal" id="{{user_history_location_id}}" value="Change" />
				<input type="hidden" id="lat-{{user_history_location_id}}" value="{{latitude}}">
				<input type="hidden" id="lng-{{user_history_location_id}}" value="{{longitude}}">
				<input type="hidden" name="test" value="test">
			</form>
			<hr>
		{{/each}}
	{{/unless}}
</template>

<template name="selectPlace">

	<div class="content-scrollable">
		{{#if places}}
<!-- 			{{#if wait}} 
				{{> searching}}
			{{/if}} -->
<!-- 			<p> Select place for location {{userLocationId}}</p> -->
			<br /><br />
			{{#each places}}
				{{#each content}} 
					content
					{{content}}
				{{/each}}
				<div class="kn-container">
					<div class="kn-leftcol">{{#if name}} {{name}} {{else}} Unknown {{user_history_location_id}}  {{/if}}</div>
					<div class="kn-rightcol">
						<form class="form-inline" >
							<div class="form-group">
								<input type="button" class="button setlocations btn btn-primary" id="{{place_id}}" value="Set" />
								<input type="hidden" id="place-{{place_id}}" value="{{name}}">
							</div>
						</form>	
					</div>
				</div>	
			{{/each}}
			<div class="kn-container">
				<div class="kn-leftcol">Elsewhere</div>
				<div class="kn-rightcol">
					<form class="form-inline" >
						<div class="form-group">
							<input type="button" class="button elsewhere btn btn-primary" id="0" value="Set" />
							<input type="hidden" id="place-0" value="else">
						</div>
					</form>	
				</div>
			</div>
			<div class="kn-container" style="height: 23px">
			</div>
			<br />
		{{else}}
			cant find places? {{name}} {{_id}}
<!-- 			{{> searching}} -->
		{{/if}}		
		<hr>
	</div>
	<input type="button" class="button cancel btn btn-primary btn-down" value="Cancel" />
</template>

<template name="searching">
	<div class="kn-ontop">
		<img src="img/app/qVHae.gif" />
	</div>
</template>

<!-- Modal --> 
<!-- <template name="locationModal">
	<div class="modal show in fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 100%;">                                                                                
			<div class="modal-content">                                                                               
				<div class="modal-header">                                                                                
					<a class="close cancel" data-dismiss="modal">×</a>                                                             
					<h3>Select the place for location</h3>                                                                        
				</div>                                                                                                    
				<div class="modal-body" >                                                                                 
					<h4>Places</h4>                                                                                
					{{> selectPlace}} 

				</div>                                                                                                    
				<div class="modal-footer">                                                                                                                              
					<a href="#" class="btn cancel" data-dismiss="modal">Close</a>                                                  
				</div>  
			</div>
		</div>
	</div>

</template> -->

