<template name="nav">
  <nav class="{{#if black}}black{{/if}}">
    <div class="nav-group">
      {{#if back}}
        <a class="nav-item js-back" href="#"><span class="icon-arrow-left-alt"></span></a>
      {{else}}
        <div class="flleft"><a class="nav-item js-menu" href="#"><span class="fa fa-bars"></span></a></div>
        <div class="flright"><a class="nav-item js-profile flright" href="{{pathFor 'about'}}"><span class="fa fa-ellipsis-v" aria-hidden="true"></span></a></div>
      {{/if}}
    </div>

    <div class="title-page">
      {{title}}
      <span class="subtext-page">{{subtext}}</span>
    </div>

    <div class="nav-group right">
      {{> Template.contentBlock }}
    </div>
  </nav>
</template>