<template name="temp">
  <div class="page about">
    {{> nav title='Temp' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
				<h1 class="title-about">
	<!-- 				<img src="img/app/title-about.svg" alt="LifeLog"/> -->
				</h1> 
      </div>
      <div class="description-about">
				This part of the app comes soon			
				{{> test}}
      </div>

<!-- 			{{#if ifUser}}
				{{#if currentUser.profile.foursquare}}		
					{{> venues}}
				{{/if}}
			{{/if}} -->
			
    </div>
  </div>
</template>

<template name="test">
<!-- 	<div class="kn-ontop">
		test
		{{> spinner}}
	</div> -->
<!-- 	{{#each mytypes}}
		{{type}}
		
	{{/each}} -->
	<!-- GoogleApi.get('/your/api/path', options, callback);	 -->
	<div>
	<button class="btn btn-secondary checkinsFsqr">Fsqr</button>
	</div>
	<div>
		getting fsqr
		{{#if ifFsqr}}
			{{#each checkinsFsqr}}
				<div>
				{{date}} {{venue.name}} {{venue.location.city}}
				</div>
			{{/each}}
		{{/if}}
	</div>
	<button class="btn btn-secondary getTube">Goog</button>
	<div>
		myTube 1
		{{#each myTube}}
			myTube
		{{/each}}
	</div>



</template>

