<template name="temp">
  <div class="page about">
    {{> nav title='Temp' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Temp"/>
        </h1>
      </div>
      <div class="description-about">
				This part of the app comes soon			
      </div>

<!-- 			{{#if ifUser}}
				{{#if currentUser.profile.foursquare}}		
					{{> venues}}
				{{/if}}
			{{/if}} -->
			
    </div>

<!--     <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Built with meteor</a> -->

  </div>
	

</template>

<template name="test">
	{{#each mytypes}}
		{{type}}
		
	{{/each}}


</template>

